.custom-field {
    @extend .padding-bottom-lg;
    display: block;
    position: relative;
    width: 100%;

    label {
        @extend .font-base-sb;
        position: absolute;
        left: spacers("sm");
        top: spacers("xs");
        color: color("dark");
        background: color("light");
        padding: 0 spacers('xs');
    }

    input, textarea {
        padding: padding("md") padding("md");
        border-radius: radius("sm");
        margin-top: spacers("md");
        background: color("light-40");
        color: color("light");
        border: none;
        width: 100%;
        height: 100%;
    }
}