@import "./variables";
@import "./fonts";
@import "./forms";

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

@each $name, $spacer in $spacers {
    .margin-#{$name} {
        margin: $spacer;
    }
    .margin-right-#{$name} {
        margin-right: $spacer;
    }
    .margin-left-#{$name} {
        margin-left: $spacer;
    }
    .margin-bottom-#{$name} {
        margin-bottom: $spacer;
    }
    .margin-top-#{$name} {
        margin-top: $spacer;
    }
    .padding-#{$name} {
        padding: $spacer;
    }
    .padding-right-#{$name} {
        padding-right: $spacer;
    }
    .padding-left-#{$name} {
        padding-left: $spacer;
    }
    .padding-bottom-#{$name} {
        padding-bottom: $spacer;
    }
    .padding-top-#{$name} {
        padding-top: $spacer;
    }
}

@each $name, $radius in $radius {
    .border-radius-#{$name} {
        border-radius: $radius;
    }
}

@each $name, $size in $font-sizes {
    .font-#{$name} {
        font-size: $size;
        font-weight: 300;
        font-family: Montserrat, sans-serif;
    }

    .font-#{$name}-sb {
        font-size: $size;
        font-weight: 500;
        font-family: Montserrat-semi-bold, sans-serif;

    }

    .font-#{$name}-b {
        font-size: $size;
        font-weight: 800;
        font-family: Montserrat-bold, sans-serif;
    }
}

@each $name, $color in $colors {
    .bg-#{$name} {
        background: $color;
    }
    .border-color-#{$name} {
        border-color: $color;
    }
    .border-#{$name} {
        border: 1px solid $color;
    }
    .font-color-#{$name} {
        color: $color;
    }
    .btn-fill-#{$name}-sm {
        background: $color;
        padding: padding("xs") padding("sm");
        border-radius: radius("sm");
        border: 1px solid $color;
    }
    .btn-fill-#{$name} {
        background: $color;
        padding: padding("xs") padding("sm");
        border-radius: radius("sm");
        border: 1px solid $color;
    }
    .btn-fill-#{$name}-full {
        background: $color;
        padding: padding("xs") padding("sm");
        border-radius: radius("sm");
        border: 1px solid $color;
        width: 100%;
    }
    .btn-outline {
        border-radius: radius("sm");
        background: none;
        transition: 0.2s linear;
        &:hover {
            color: color("light");

        }
    }
    .btn-outline-#{$name}-sm {
        @extend .btn-outline;
        border: 2px solid $color;
        padding: padding("xs") padding("sm");
        &:hover {
            background: $color;
        }
    }
    .btn-outline-#{$name} {
        @extend .btn-outline;
        border: 2px solid $color;
        padding: padding("xs") padding("sm");
        &:hover {
            background: $color;
        }
    }
    .btn-outline-#{$name}-full {
        @extend .btn-outline;
        border: 2px solid $color;
        padding: padding("xs") padding("sm");
        width: 100%;
        &:hover {
            background: $color;
        }
    }
}

// Global Rules
body {
    background-color: color("dark") !important;
    &::-webkit-scrollbar {
        width: .4em;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px color("primary-20");
    }
    &::-webkit-scrollbar-thumb {
        background-color: color("primary");
        outline: 1px solid color("primary");
    }
}
::selection, ::-moz-selection {
    color: color("light");
    background: color("primary-60");
}

.pre-line {
    white-space: pre-line;
}
.pre-wrap {
    white-space: pre-wrap;
}
.nowrap {
    white-space: nowrap;
}
.break-spaces {
    white-space: break-spaces;
}
li::marker {
    color: color('primary');
}
a {
    &:hover {
        color: color("secondary");
    }
}
main {
    min-height: 800px;
}
strong {
    font-weight: bold;
}
blockquote {
    margin: 0;
    padding: 0 0 0 1em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 1em;
    margin-inline-end: 0;
    border-left: 0.3em solid color('light');
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
        color: color('light');
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    p {
        display: inline;
    }
}
.padding {
    &-bottom-none{
        padding-bottom: none;
    }
    &-top-none{
        padding-top: none;
    }
    &-left-none{
        padding-left: none;
    }
    &-right-none{
        padding-right: none;
    }
    &-none {
        padding: none;
    }
}

.max-w {
    &lg-300 {
        @media (min-width: $breakpoint-lg){
            max-width: 300px;
        }
    }
}

.h-100 {
    height: 100%;
}

.w {
    &-lg {
        @media (min-width: $breakpoint-lg) {
            &-75 {
                width: 75% !important;
            }
        }
    }
}

.max-h-320px {
    height: 320px !important;
}

.border {
    &-bottom {
        &-primary {
            border-bottom: 1px solid color("primary");
        }
        &-light-20 {
            border-bottom: 1px solid color("light-20");
        }
    }
    &-radius {
        &-round {
            border-radius: 50%;
        }
    }
}

.pill {
    border-radius: radius("md");
    margin-bottom: spacers("xs");
    padding: 5px spacers("xs");
    text-align: left;
    &-dark {
        background: color("dark-20");
        color: color("light");
    }
}

.text {
    &-right {
        text-align: right;
    }
    &-left {
        text-align: left;
    }
}

.bg-none {
    background: none !important;
}

.debug-later  {
    border: 2px solid red;
}

.max-w-100 {
    max-width: 100%;
}

.max-w-90 {
    max-width: 90%;
}

.max-w-80 {
    max-width: 80%;
}

.modal-backdrop {
    z-index: 1;
    width: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.word-break-all {
    word-break: break-all;
}
.capitalize {
    text-transform: capitalize;
}

.overflow-wrap-anywhere {
    overflow-wrap: anywhere;
}

.swiper-pagination {
    position: relative !important;
    bottom: 0!important;
    .swiper-pagination-bullet-active {
        background: color("primary");
    }
}

.word-break {
    word-break: break-word;
}

[title] {
    cursor: help;
    border-bottom: 1px dotted color('primary');
}

.button-prev,
.button-next {
    height: auto;
    background: none;
    border: none;

    .cert-icon {
        width: 25px;
        height: 25px;
    }
    &.swiper-button-disabled {
        filter: opacity(0.5);
    }
}

.button-prev {
    .cert-icon {
        transform: rotate(180deg);
    }
}