@import "./variables";
@import "./fonts";
@import "./forms";

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

@each $name, $spacer in $spacers {
    .margin-#{$name} {
        margin: $spacer;
    }
    .margin-right-#{$name} {
        margin-right: $spacer;
    }
    .margin-left-#{$name} {
        margin-left: $spacer;
    }
    .margin-bottom-#{$name} {
        margin-bottom: $spacer;
    }
    .margin-top-#{$name} {
        margin-top: $spacer;
    }
    .padding-#{$name} {
        padding: $spacer;
    }
    .padding-right-#{$name} {
        padding-right: $spacer;
    }
    .padding-left-#{$name} {
        padding-left: $spacer;
    }
    .padding-bottom-#{$name} {
        padding-bottom: $spacer;
    }
    .padding-top-#{$name} {
        padding-top: $spacer;
    }
}

@each $name, $radius in $radius {
    .border-radius-#{$name} {
        border-radius: $radius;
    }
}

@each $name, $size in $font-sizes {
    .font-#{$name} {
        font-size: $size;
        font-weight: 300;
        font-family: Montserrat, sans-serif;
    }
    
    .font-#{$name}-sb {
        font-size: $size;
        font-weight: 500;
        font-family: Montserrat-semi-bold, sans-serif;

    }

    .font-#{$name}-b {
        font-size: $size;
        font-weight: 800;
        font-family: Montserrat-bold, sans-serif;
    }
}

@each $name, $color in $colors {
    .bg-#{$name} {
        background: $color;
    }
    .border-color-#{$name} {
        border-color: $color;
    }
    .font-color-#{$name} {
        color: $color;
    }
    .btn-fill-#{$name}-sm {
        background: $color;
        padding: padding("xs") padding("sm");
        border-radius: radius("sm");
    }
    .btn-fill-#{$name} {
        background: $color;
        padding: padding("sm") padding("md");
        border-radius: radius("sm");
    }
    .btn-fill-#{$name}-full {
        background: $color;
        padding: padding("md");
        border-radius: radius("sm");
        width: 100%;
    }
    .btn-outline {
        border-radius: radius("sm");
        background: none;
        transition: 0.2s linear;
        &:hover {
            color: color("light");
           
        }
    }
    .btn-outline-#{$name}-sm {
        @extend .btn-outline;
        border: 2px solid $color;
        padding: padding("xs") padding("sm");
        &:hover {
            background: $color;
        }
    }
    .btn-outline-#{$name} {
        @extend .btn-outline;
        border: 2px solid $color;
        padding: padding("sm") padding("md");
        &:hover {
            background: $color;
        }
    }
    .btn-outline-#{$name}-full {
        @extend .btn-outline;
        border: 2px solid $color;
        padding: padding("md");
        width: 100%;
        &:hover {
            background: $color;
        }
    }
}

// Global Rules
body {
    background-color: color("dark") !important;
}

.debug-later  {
    border: 2px solid red;
}